player-connection-mode=Listen
player-connection-guid=1316276914
player-connection-debug=0
player-connection-project-name=Minimap
player-connection-ip=192.168.0.106
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=4b32b7d934ed4a2481b158448d1c5930
