player-connection-mode=Listen
player-connection-guid=3246449363
player-connection-debug=0
player-connection-project-name=Minimap
player-connection-ip=192.168.0.106
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=ff135c8a0be947a89431704ef6e346f4
