player-connection-mode=Listen
player-connection-guid=2341631119
player-connection-debug=0
player-connection-project-name=Minimap
player-connection-ip=192.168.0.106
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=86e95eaa9a1644b1b062d6a1d0a9b838
